@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

@font-face {
  font-family: nan;
  src: url(../Far_Nazanin/Far_Nazanin.ttf);
}

:root {
  --primaryColor: #ff7800;
  --secondaryColor: #ffe61c;
  --tertiaryColor: #f7951a;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;

  /*? color pairs */
  --color-set-1-primary: #ec7345;
  --color-set-1-secondary: #3a827e;
  /*  */
  --color-set-2-primary: #e37043;
  --color-set-2-secondary: #fff;
  /*  */
  --color-set-3-primary: #ffe000;
  --color-set-3-secondary: #000;
  /*  */
  --color-set-4-primary: #db868b;
  --color-set-4-secondary: #417584;
  /*  */
  --color-set-5-primary: #f6b4a8;
  --color-set-5-secondary: #000;
  /*  */
  --color-set-6-primary: #feda14;
  --color-set-6-secondary: #263471;
  /*  */
  --color-set-7-primary: #f26764;
  --color-set-7-secondary: #fff;
  /*  */
  --color-set-8-primary: #fe6e0d;
  --color-set-8-secondary: #f20c90;
  /*  */
  --color-set-9-primary: #2bc0e4;
  --color-set-9-secondary: #eaecc6;
  /* ? colorHunt color sets */
  --colorHunt-set-1-primary: #37e2d5;
  --colorHunt-set-1-secondary: #590696;
  --colorHunt-set-1-tertiary: #c70a80;
  --colorHunt-set-1-quaternary: #fbcb0a;

  /* ? instagram gradient */

  --instagram-gradient: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
}

.gradient-for-text {
  background: linear-gradient(90deg, #1a2980, #26d0ce);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-for-text-1 {
  background: linear-gradient(90deg, #72ace9, #5558b6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Beautiful color pairs */



