@font-face {
    font-family: nan;
    src: url(../../../Far_Nazanin/Far_Nazanin.ttf);
  }
  @font-face {
    font-family: iransanc;
    src: url(../../../A-Iranian-Sans/A-Iranian-Sans/Iranian\ Sans.ttf);
  }
.container{
    font-family: iransanc;
}